<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scanclothes">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_scan_clothes"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icono_scan_clothes_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FragmentosAdministrador.Scan_Admin"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".DetalleImagen.DetalleImagen"
            android:exported="false" />
        <activity
            android:name=".Categorias.ControladorCategorias"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.VeranoCliente"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.PrimaveraCliente"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.OtonoCliente"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.InviernoCliente"
            android:exported="false" />
        <activity
            android:name=".FragmentosAdministrador.Cambio_Pass"
            android:exported="false" />
        <activity
            android:name=".CategoriasAdministrador.VeranoA.AgregarVerano"
            android:exported="true" />
        <activity
            android:name=".CategoriasAdministrador.PrimaveraA.AgregarPrimavera"
            android:exported="true" />
        <activity
            android:name=".CategoriasAdministrador.OtonoA.AgregarOtono"
            android:exported="true" />
        <activity
            android:name=".CategoriasAdministrador.InviernoA.AgregarInvierno"
            android:exported="true" />
        <activity
            android:name=".CategoriasAdministrador.PrimaveraA.PrimaveraA"
            android:exported="true" />
        <activity
            android:name=".CategoriasAdministrador.OtonoA.OtonoA"
            android:exported="true" />
        <activity
            android:name=".CategoriasAdministrador.VeranoA.VeranoA"
            android:exported="true" />
        <activity
            android:name=".CategoriasAdministrador.InviernoA.InviernoA"
            android:exported="true" />
        <activity
            android:name=".Registro"
            android:exported="true" />
        <activity
            android:name=".InicioSesion"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivityAdministrador"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>